.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  width: 80vw;
  height: 80vh;
  background: #f5f5f5;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  padding: 0 1rem;
  color: #BABABA;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
}

.actions {
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.infoButton,
.viewButton {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.viewButton img,
.infoButton img {
  width: auto;
  height: auto;
}

p {
  display: flex;
  justify-content: center;
  color: #BABABA;
  font-size: large;
}